h1{
    border-bottom: 2px solid #00F;
}

h2{
    border: 2px solid #AAA;
}

.Lista1 {
    border-top: 4px dotted #f00;
    border-bottom: 4px dotted #f00;
}

.Lista2 {
    border: 2px dashed #0f0;
}